
#login-AxisBankColors {
  background-color: #800000;
  color:            #761C19;
  color:            #D9534F;


  color:            #A5456E;
  color:            #8F164A;
  
  color:            #AE275F;
  color:            #EB1165;
  color:            #761C19;
  color:            #D9534F;

  color: #FAFAFA;
  color: #9E9E9E;
  color: #B0B0B0;
  color: #212121;
  color: #6C757D;
  color: #757575;

}

